<!-- 
<app-books></app-books>
<app-cart></app-cart> -->
<nav class="flex justify-between p-4 bg-purple-800 text-white">
    <div>
        <a routerLink="">Book Shop</a>
    </div>
    <div>
        <a routerLink="/cart" class="px-3">My Cart</a>
        <ng-container *ngIf="!isAuthenticated()" >
            <a routerLink="/login" class="px-3">Login</a>
        <a routerLink="/register" class="px-3">Register</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated()" >
          <button (click)="logOut()">Logout</button> 
        </ng-container>
        
    </div>
</nav>

<div class="p-4">
    <router-outlet></router-outlet>
</div>